<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="listaProduct"></div>
    <h1>Listado de código de productos</h1>
    <ul>
        {{#each texts}}
            <li>{{this}}</li>
            <button>Eliminar</button>
        {{/each}}
    </ul>
    
</body>
</html>